* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  h4 {
    color: #febc94;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 400;
  }
  h1 {
    color: #252b42;
    padding: 0;
    margin: 0;
    display: contents;
    font-size: 4rem;
    letter-spacing: 1px;
    font-weight: 700;
  }
  p {
    color: #a01a10;
    font-size: 15pxpx;
    text-align: start;
    width: 80%;
  }
  h2 {
    color: #396a7b;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  h3 {
    color: #a01a10;
    font-size: 25px;
  }
}
.body {
  background-color: #fdf3f1;
}
/* navbar */
.navbar {
  background-color: #fdf3f1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding-left: 40px;
  padding-right: 40px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #737373;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
}

.navbar-nav .nav-link:hover {
  background-color: #396a7b;
  color: #fff;
  border-radius: 5px;
}

.navbar .btn-light {
  border: 1px solid #007bff;
  color: #007bff;
  margin-right: 10px;
  border: none;
}

.navbar .btn-light:hover {
  background-color: transparent;

  color: #396b7b;
}

.navbar .btn-primary {
  background-color: #0056b3;
  border-color: #0056b3;
}

.navbar .btn-primary:hover {
  background-color: #004080;
  border-color: #004080;
}
/* home */
.home {
  height: 100vh;
  display: flex;
}
.homecontent {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 20px;
  width: 100%;
}
.homeImages > img {
  margin-top: 40%;
  height: 600px;
  mask-image: url(./images/splashStroke.png);
  mask-size: contain;
  mask-repeat: no-repeat;

  -webkit-mask-image: url(./images/splashStroke.png);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}
.heroText {
  height: 400px;
  width: 350px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  h4 {
    text-transform: uppercase;
    margin-left: 3px;
  }
  h1 {
    margin-top: -20px;
  }
}
.products {
  background-color: #febc94;
  border-radius: 100px 0 100px 0;
  height: 100vh;
  padding: 2vmax 3vmax;
  .productContent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .productSummury {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 10px;
      p {
        text-align: center;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: #a01a10;
        text-decoration: none;
        font-size: 20px;
        transition: all 0.3s ease-in-out;
        svg {
          margin-top: 2px;
          height: 20px;
          fill: currentColor;
          color: #396a7b;
        }
      }
      a:hover {
        padding-left: 5px;
        svg {
          padding-left: 5px;
        }
      }
    }
    .productItems {
      height: 100%;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      gap: 15px;
      .productCard {
        width: 80%;
        height: 220px;
        border-radius: 20px;
        display: flex;
        padding: 40px;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2),
          inset 2px 2px 6px 1px rgba(255, 255, 255, 0.178);
        .svgsection {
          height: 150px;
          width: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            height: 100%;
            width: 100%;
            fill: currentColor;
            color: #396a7b;
          }
        }
      }
    }
  }
}

.team {
  height: 100vh;
  padding: 4vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  .teamcontent {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 4vmax;
    gap: 30px;

    .aboutteam {
      width: 100%;
      color: #252b42;
      display: flex;
      align-items: center;
      text-align: center;

      flex-direction: column;
      gap: 10px;
      h4 {
        text-transform: uppercase;
      }
      h2 {
        text-align: center;
      }
      p {
        width: 100%;
        text-align: center;
      }
    }
    .teamMembers {
      height: 70vh;

      width: 60vw;
      overflow-x: scroll;
      overflow-y: hidden;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 30px;

      .teamCard {
        height: 50vh;
        width: 200px;
        min-width: 200px;
        box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2),
          inset 2px 2px 6px 1px rgba(255, 255, 255, 0.178);
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        transition: transform 0.3s;
        border-radius: 20px;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;

          transition: opacity 0.3s;
        }

        .aboutmember {
          background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.027) 0%,
            #000000 100%
          );
          padding: 20px;
          height: 50%;
          width: 100%;
          position: absolute;
          color: white;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
          h3 {
            color: whitesmoke;
          }
          p {
            color: whitesmoke;
            text-align: center;
          }
          .soociallinks {
            height: 60px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            svg {
              width: 18px;

              fill: currentColor;
              color: white;
            }
          }
        }
      }
    }
  }
}

#contact {
  padding: 4vmax;
}
#contact h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
#contact h2 {
  font-size: 36px;
  margin-bottom: 20px;
}
#contact p {
  font-size: 16px;
  color: #6c757d;
  margin-bottom: 40px;
  text-align: center;
}
#contact input[type="email"] {
  padding: 10px 15px;
  width: 100%;
  max-width: 400px;
  margin-right: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}
#contact input[type="submit"] {
  padding: 10px 30px;
  background-color: #737373;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#contact input[type="submit"]:hover {
  background-color: #febc94;
}

.footer {
  height: 70vh;
  padding: 4vmax;
  background: #ffffff;
  border-radius: 100px 100px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.detailsfooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
}

.leftside,
.rightSide {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.footerList {
  margin: 20px;
}

.footerList h2 {
  font-size: 10px;
  margin-bottom: 15px;

  text-transform: uppercase;
  letter-spacing: 1px;
}

.footerList p {
  margin: 10px 0;
  font-size: 16px;

  cursor: pointer;
  transition: color 0.3s ease;
}

.footerList p:hover {
  color: blue; 
}

.footer .footerList p:last-child {
  margin-bottom: 0;
}


.footerList h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.footerList p a {
  color: inherit;

  text-decoration: none;
}

.footerList p a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .detailsfooter {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .leftside,
  .rightSide {
    flex-direction: column;
    align-items: center;
  }

  .footerList {
    margin: 0;
    padding: 10px 0;
  }
}
